[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
[submodule "xfce4-terminal-colors-solarized"]
	path = xfce4-terminal-colors-solarized
	url = git://github.com/sgerrand/xfce4-terminal-colors-solarized.git
[submodule "dotvim"]
	path = dotvim
	url = git@github.com:lucisferre/dotvim
[submodule "laptop"]
	path = laptop
	url = git@github.com:lucisferre/laptop.git
[submodule "oh-my-zsh-powerline-theme"]
	path = oh-my-zsh-powerline-theme
	url = git://github.com/jeremyFreeAgent/oh-my-zsh-powerline-theme.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git@github.com:lucisferre/tmux-powerline.git
